dn: olcDatabase={2}mdb,cn=config
changeType: modify
replace: olcSuffix
olcSuffix: dc=ziyotek1,dc=local
-
replace: olcRootDN
olcRootDN: cn=admin,dc=ziyotek1,dc=local
-
add: olcRootPW
olcRootPW: "{{ slappasswd_output.stdout }}"