dn: cn=config
changeType: modify
replace: olcTLSCertificateFile
olcTLSCertificateFile: "{{ certs_dir }}/ldap.crt"
-
replace: olcTLSCertificateKeyFile
olcTLSCertificateKeyFile: "{{ certs_dir }}/ldap.key"
-
add: olcTLSCACertificateFile
olcTLSCACertificateFile: "{{ certs_dir }}/CA.crt"